.summary-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px
}

.summarize {
    display: flex;
    justify-content: center;
}

#user-text, #summary-text {
    height: 100%;
}